<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>List Domain</h3>
    <p>
        Found <%= lengthDomain %> Domain
    </p>
    <p>Name : <%= nameDomain %> <br>ID : <%= idDomain %>
    </p>
    <br />
    <br />
    <p>Full Response</p>
    <div style="overflow-y:scroll; height:400px; background:#e6e2e2">
        <p style="padding: 10px;">
            <%= response %>
        </p>
    </div>
</body>

</html>